<%- include("../includes/head") %>
<section class="mx-auto">
  <h1>Password reset link has been send to your email address.</h1>
  <p>Check your inbox or</p>
  <a href="https://mail.google.com/mail/u/0/#inbox" target="_blank"
    >Click to open your gmail
  </a>
  <a href="/">Go back home</a>
</section>
<%- include("../includes/foot") %>
