<%- include("../includes/head") %>
<section class="mx-auto">
  <h1 class="title">Register a new account</h1>
  <% if(errorMsg){ %>
  <p class="warn-msg"><%= errorMsg %></p>
  <% } %>
  <form action="/register" method="post">
    <input hidden value="<%= csrfToken %>" name="_csrf" />
    <div>
      <label for="email">Enter email</label>
      <input type="email" id="email" name="email" />
    </div>
    <div>
      <label for="password">Enter password</label>
      <input type="password" id="password" name="password" />
    </div>
    <button class="right">Create account</button>
    <a href="/">Go back home</a>
  </form>
</section>
<%- include("../includes/foot") %>
