<%- include("../includes/head") %>
<section class="mx-auto">
  <h1 class="title">Reset password</h1>
  <% if(errorMsg){ %>
  <p class="error-msg"><%= errorMsg %></p>
  <% } %>
  <form action="/reset" method="post">
    <input hidden value="<%= csrfToken %>" name="_csrf" />
    <div>
      <label for="email">Enter email</label>
      <input type="email" id="email" name="email" />
    </div>
    <button class="right">Reset password</button>
    <a href="/login">Go back to login</a>
  </form>
</section>
<%- include("../includes/foot") %>
