    <%- include("./includes/head")  %>
    <h1 class="title">Home Page</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat nulla id
      similique vero! Repellat animi aliquid corporis ad. Tenetur hic voluptatum
      labore! Officiis ea quis eos quas saepe, veniam at.
    </p>
    <a href="/admin/create-post">Add a new post</a>
    <hr />
    <h1 title="">Posts</h1>
    <% if (postsArr.length === 0) { %>
    <h3>No post yet.</h3>
    <a href="/admin/create-post">Create a new post</a>
    <% } %> <% for(let post of postsArr) { %>
    <div class="post-box">
      <h3 class="post-title"><%= post.title %></h3>
      <a class="btn" href="/post/<%= post.id %>">See More...</a>
    </div>
    <% } %>
  </body>
</html>

    <%- include("./includes/foot")  %>