@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
:root {
  --primary-color: #554242;
  --secondary-color: #b88950;
}
label {
  color: var(--primary-color);
  font-weight: 500;
}
input {
  color: var(--primary-color);
  outline: var(--primary-color);
  border: 1px solid var(--primary-color);
}
a {
  display: block;
  margin: 10px 0;
  color: #fff;
  width: fit-content;
  background-color: var(--primary-color);
  padding: 8px 10px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
}
button {
  margin: 10px 0;
  color: white;
  background-color: var(--primary-color);
  padding: 8px 10px;
  width: fit-content;
  border: none;
  font-size: 18px;
  cursor: pointer;
  font-weight: 500;
}
nav {
  width: 60%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-color);
  padding: 0 10px;
}
nav a,
nav button {
  margin: 8px 0;
  font-weight: 500;
}
nav h1 a {
  font-weight: bold;
}
nav .right-side {
  display: flex;
  align-items: center;
  gap: 6px;
}
.header,
.profile {
  width: 90%;
  margin: 0 auto;
}
.user-profile {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.user-profile a {
  text-align: center;
  margin-top: 0;
  margin-bottom: 25px;
}
.profile-username {
  color: var(--secondary-color);
  font-size: 20px;
  padding-left: 80px;
  margin-bottom: 10px;
}
.no-post-yet {
  padding-left: 80px;
}
.user-email {
  color: rgb(248, 170, 97);
}
.title {
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: var(--secondary-color);
}
.pl-80 {
  padding-left: 80px;
}
.post-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 80px;
  gap: 20px;
}
.post-box {
  flex: 1;
}
.post-see-more {
  font-weight: 500;
  color: var(--secondary-color) !important;
  text-decoration: underline;
}
.post-box a {
  color: var(--primary-color);
  background-color: transparent;
  padding: 0 0;
}
.post-title {
  font-size: 35px;
  color: var(--secondary-color) !important;
  font-weight: 600;
}
.post-desc {
  color: var(--primary-color);
  font-size: 17px;
  margin: 8px 0;
}
.post-email {
  display: inline-block;
  color: var(--primary-color);
  font-size: 18.5px;
  margin: 10px 0;
  font-weight: 600;
}
.post-img {
  width: 100%;
  height: 15rem;
  object-fit: cover;
  margin-top: 10px;
}
.details {
  width: 60%;
  margin: auto;
  padding: 20px 0;
}
.details .title {
  font-size: 44px;
  padding: 0;
  margin: 10px 0;
}
.details img {
  width: 100%;
  height: 40rem;
  object-fit: cover;
  margin-bottom: 20px;
}
.details .desc {
  font-size: 20px;
  color: var(--primary-color);
}
.details-email,
.details-timestamps {
  color: var(--primary-color);
  margin: 8px 0;
  font-size: 19px;
  font-weight: 500;
}
label {
  display: block;
  font-size: 16px;
  margin-top: 10px;
}
input,
textarea {
  font-size: 18px;
  padding: 4px 10px;
  width: 100%;
}
.mx-auto {
  width: 40%;
  margin: auto;
}
.mr-2 {
  margin-right: 8px;
}
.right {
  float: right;
}
.inline-block {
  display: inline-block;
}
.ml-2 {
  margin-left: 8px;
}
.error-msg {
  width: 100%;
  text-align: center;
  color: red;
  border: 1px solid red;
  background-color: rgb(255, 184, 184);
  padding: 4px 10px;
}
.warn-msg {
  width: 100%;
  text-align: center;
  border: 1px solid yellow;
  background-color: rgb(255, 255, 193);
  padding: 4px 10px;
}
.success-msg {
  margin: 10px auto 0;
  width: 30%;
  text-align: center;
  color: white;
  font-weight: bold;
  border: none;
  background-color: var(--primary-color);
  padding: 4px 10px;
}

.mt-0 {
  margin-top: 0;
}

/* pagination */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination a {
  font-weight: 500;
}
.ml-10 {
  margin-left: 10px;
}

/* premium */
.premium {
  width: 60%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}
.card {
  padding: 20px 20px;
  border: 2px solid var(--primary-color);
  border-radius: 8px;
}
.card h3 {
  color: var(--secondary-color);
  font-size: 32px;
  text-align: center;
  margin-bottom: 10px;
}
.card ul li {
  color: var(--primary-color);
}
.card button {
  background-color: var(--primary-color);
  color: #fff;
  padding: 8px 10px;
  width: fit-content;
  text-decoration: none;
  border-radius: 8px;
  font-size: 18px;
  text-align: center;
}
.card ul li {
  list-style: none;
  margin-bottom: 10px;
  font-size: 18px;
}
